body {
    background-color: white;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(217, 234, 253);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    box-sizing: border-box;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.icon-group img {
    width: 24px;
    margin-left: 15px;
}

.center {
    text-align: center;
    margin-top: 150px;
    font-size: 18px;
}

.learn-more {
    display: inline-block;
    background: rgb(217, 234, 253);
    color: white;
    padding: 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.learn-more:hover {
    background: rgb(58, 120, 127);
}
