body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(120, 134, 199);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.icon-group img {
  width: 24px;
  margin-left: 15px;
}

h2 {
    display: inline-block;
    background-color:  rgb(120, 134, 199);
    color: white;
    padding: 5px 15px;
    border-radius: 6px;
}


.tittle {
    margin-top: 80px;
    margin-left: -1000px;
}

.center {
    text-align: center;
    margin-top: 150px;
}
.learn-more {
  display: inline-block;
  text-align: center;
  background: rgb(120, 134, 199);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}
